@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead">Trash Collector is the best way to get rid of your trash in a very convenient way!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Welcome To Trash Collector!
            In order for us to better serve you. You will need to put your personal information in Customer Info
            and Just need to pick the dates when you want us to pick up your trash under Calendar.

            If you need more informations please feel free to Email or call us!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Personal Information</h2>
        <p>Please put your personal information on this link. Edit your information or Delete your account.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pick up Dates</h2>
        <p>You can easily choose a date for your trashed to be pick up. Also an extra day for pick ups.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>